@import "tailwindcss";


body {
  margin: 0;
  padding: 0;
  background: #070B14;
  color: white;
  font-family: Inter, sans-serif;
} 

@keyframes ticker {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
} 